﻿@model JobTracker.ViewModels.OpeningDetailsData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opening</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opening.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening.DateApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening.DateApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening.InterestLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening.InterestLevel)
        </dd>

    </dl>
</div>

@if (Model.Contacts != null)
{
    <h4>Contacts</h4>

    <p>
        @Html.ActionLink("Create New Contact", "Create", "Contact")
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Job Title
            </th>
            <th>
                Company
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Contacts)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.JobTitle
            </td>
            <td>
                @item.Company
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Contact", new { id = item.ID }, null) |
                @Html.ActionLink("Details", "Details", "Contact", new { id = item.ID }, null) |
                @Html.ActionLink("Delete", "Delete", "Contact", new { id = item.ID }, null)
            </td>
        </tr>
        }
    </table>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Opening.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
